$header-height: 150px;

.site-header {
    line-height: $base-line-height * $base-font-size * 1.5;
    height: $header-height;
    border-bottom: 1px solid var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-unit 0;
}

.site-title-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.site-title-container {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.site-title {
    @include relative-font-size(2.5);
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 10px;
    float: left;

    @include media-query($on-palm) {
        padding-right: 45px;
    }

    &,
    &:visited {
        color: var(--text-color);
    }
}

// Hide headshot on mobile
@include media-query($on-palm) {
    .headshot {
        display: none;
    }
}

.headshot {
    border-radius: 50%;
    aspect-ratio: 1;
    height: 100%;
    border: 1px solid var(--text-color);
}

.author-info {
    display: inline-block;
}