.my-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* on hover, create a drop shadow around my-social-item-wrapper */
.my-social-item-wrapper {
    transition: background-color;
    transition-duration: 0.2s;
    border: 1px solid var(--text-color);
    width: 30px;
    height: 30px;
    line-height: 0; // Needed to center the icon
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px 20px 5px 0px;
    box-shadow: 1px 1px 0 var(--text-color);

    .my-social-item {
        fill: var(--text-color); /* Initial color */
        display: block;
    }

    &:hover {
        background-color: var(--text-color);

        .my-social-item {
            fill: var(--background-color);
        }
    }
}