@import 'variables';

:root {
    --background-color: #{$light-background-color};
    --foreground-color-100: #{$light-foreground-color-100};
    --foreground-color-200: #{$light-foreground-color-200};
    --foreground-color-300: #{$light-foreground-color-300};
    --foreground-color-400: #{$light-foreground-color-400};
    --foreground-color-500: #{$light-foreground-color-500};
    --text-color: #{$light-text-color};
    --primary-color: #{$light-primary-color};
    --primary-color-light: #{$light-primary-color-light};
    --primary-color-dark: #{$light-primary-color-dark};
    --border-color: #{$light-background-color};
    --success-color: #{$light-success-color};
    --box-shadow-100: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    --separator: 2px solid var(--text-color);
}

.dark-theme {
    --background-color: #{$dark-background-color};
    --foreground-color-100: #{$dark-foreground-color-100};
    --foreground-color-200: #{$dark-foreground-color-200};
    --foreground-color-300: #{$dark-foreground-color-300};
    --foreground-color-400: #{$dark-foreground-color-400};
    --foreground-color-500: #{$dark-foreground-color-500};
    --text-color: #{$dark-text-color};
    --primary-color: #{$dark-primary-color};
    --primary-color-light: #{$dark-primary-color-light};
    --primary-color-dark: #{$dark-primary-color-dark};
    --success-color: #{$dark-success-color};
    --border-color: #{$dark-foreground-color-200};
    --box-shadow-100: none;
    --separator: 2px solid var(--text-color);
}
