// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.news-wrapper {}

.news-item {
    margin-bottom: 10px;
}

.news-item:last-child {
    margin-bottom: 0;
}

.news-date {
    display: inline;
    padding: 3px 5px;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: inset $box-shadow;
}

.news-content {
    display: inline;
}

.publications-wrapper {
    margin-top: 20px;
}

.publication-item {
    display: grid;
    grid-template-columns: $inner-content-width-left 1fr;
    grid-template-areas: "publication-thumbnail publication-content";
    grid-gap: $spacing-unit;
    margin-bottom: 30px;
}

.publication-item:last-child {
    margin-bottom: 0;
}

.publication-thumbnail-wrapper {
    grid-area: publication-thumbnail;
}

.publication-thumbnail-wrapper-inner {
    position: relative;
    height: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.publication-thumbnail-wrapper-inner::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset $box-shadow;
    border-radius: 10px;
}

.publication-thumbnail {}

.publication-author {
    display: inline;
}

.publication-author-main {
    display: inline;
    font-weight: 500;
}

.publication-conference {
    font-weight: bold;
}

.publication-author-separator {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.headshot-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
}

.headshot {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.author-info {
    display: inline-block;
}

.site-title-wrapper {
    display: flex;
    flex-direction: column;
}

.my-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* on hover, create a drop shadow around my-social-item-wrapper */
.my-social-item-wrapper {
    transition: box-shadow 0.3s ease;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 10px 5px 0px;
}

.my-social-item-wrapper:hover {
    box-shadow: inset $box-shadow;
}

.my-social-item {
    height: 20px;
}