---
layout: base
---

<div class="inner-wrapper">
  <div class="inner-left">
    {% assign all_news = site.news %}
    {% for news in all_news %}
    <div class="news-item">
      <div class="news-date">
        {{ news.date }}
      </div>
      <div class="news-content">
        {{ news.content | remove: "<p>" | remove: "</p>"}}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="inner-right">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus in omnis fugit, error voluptatum earum
    accusantium
    ratione aliquid! Eaque, molestias aperiam corrupti incidunt deserunt quasi deleniti commodi officiis porro quam?
  </div>
</div>