---
layout: base
---

<div class="inner-wrapper">
  <div class="inner-left">
    <h2>News</h2>
    <div class="news-wrapper">
      {% assign all_news = site.news %}
      {% for news in all_news %}
      <div class="news-item">
        <div class="news-date">
          {{ news.date }}
        </div>
        <div class="news-content">
          {{ news.content | remove: "<p>" | remove: "</p>"}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="inner-right">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus in omnis fugit, error voluptatum earum
    accusantium
    ratione aliquid! Eaque, molestias aperiam corrupti incidunt deserunt quasi deleniti commodi officiis porro quam?
  </div>
</div>
<div class="publications-wrapper">
  <h2>Publications</h2>
  {% assign publications = site.publications %}
  {% for publication in publications %}
  <div class="publication-item">
    <div class="publication-thumbnail-wrapper">
      {% assign image_path = "assets/images/publication-thumbnails/placeholder.jpg" %}
      {% assign search_for_path = "assets/images/publication-thumbnails/" | append: publication.name | remove: ".md" | append: ".jpg" %}
      {% for file in site.static_files %}
          {% if file.path contains search_for_path %}
              {% assign image_path = search_for_path %}
          {% endif %}
      {% endfor %}
      <img class="publication-thumbnail" src="{{ image_path }}" alt="{{ publication.title }}">
    </div>
    <div class="publication-content">
      {{ publication.content | remove: "<p>" | remove: "</p>"}}
    </div>
  </div>
  {% endfor %}
</div>